<div class="panel panel-default">
  <div class="panel-heading">
    <h4><%= t('.sign_in', :default => "Sign in") %></h4>
  </div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>
<%= render "devise/shared/links" %>
