@import "bootstrap-sprockets";
@import "bootswatch/flatly/variables";
@import "bootstrap";
@import "bootswatch/flatly/bootswatch";
@import "formtastic-bootstrap";
@import "devise_bootstrap_views";
@import "bootstrap-datepicker3";
@import "master";
@import "home";
@import "reports";
