.home {

  h1 small {
    font-size: 50%;
    margin-left: 0.5em;
    display: inline-block;
    margin-top: 1em;
  }

  h1 span.logo {
    font: {
      family: 'Chewy', cursive;
      size: 1.2em;
    }
    background: {
      image: image-url('logo.svg');
      repeat: no-repeat;
      position: left center;
      size: 1.2em 1.2em;
    }
    padding-left: 1.4em;
    display: inline-block;
    margin-left: 0;
  }

  @media (max-width: 980px) {
    h1 span.logo {
      display: block;
      width: 3.3em;
      margin: 0 auto;
    }
    h1 small {
      display: block;
      text-align: center;
    }
  }

  .well h3.bigbutton {
    a {
      color: $headings-color;
    }
    margin: 1em;
  }
}
