$radius: 3px;
img.gravatar {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

.row {
  margin: {
    top: 10px;
    bottom: 10px;
  }
}

.right {
  text-align: right;
}

