$radius: 3px;
img.gravatar {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 1em;
}

/*
ol.enumerate {
   margin-left: 30px !important;
   list-style-type: decimal !important;
}
*/
