$radius: 3px;
img.gravatar {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -5em;
}

footer, .push {
  height: 5em;
  padding: 1em;
}

a.navbar-brand {
  font: {
    family: 'Chewy', cursive;
    size: 1.8em;
  }
  margin-left: 0 !important;
}

.signin-form {
  margin-bottom: 1em;
  .input-group {
    margin-top: 1em;
  }
  .checkbox {
    label label {
      padding-left: 0;
    }
  }
}

