
a {
  color: black;
}

a:hover {
  color: #333;
}

$radius: 3px;
img.gravatar {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

.row {
  margin: {
    top: 10px;
    bottom: 10px;
  }
}

ul.nav li.dropdown:hover ul.dropdown-menu{
    display: block;    
}

.dropdown-menu {
  margin-top: 0px;
}

ol.enumerate {
   margin-left: 30px !important;
   list-style-type: decimal !important;
}
