$radius: 3px;
img.gravatar {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

nav img.gravatar {
  margin-right: 0.1em;
  padding-bottom: 1px;
}

span.username {
  vertical-align: middle;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -5em;
}

footer, .push {
  height: 5em;
  padding: 1em;
}

.navbar-brand {
  font: {
    family: 'Chewy', cursive;
    size: 1.8em;
  }
  margin: {
    left: 0;
  }
  padding: {
    top: 13.5px;
    bottom: 13.5px;
    left: 1em;
    right: 15px;
  }
}

.signin-form {
  margin-bottom: 1em;
  .input-group {
    margin-top: 1em;
  }
  .checkbox {
    label label {
      padding-left: 0;
    }
  }
}
