@import "reveal";
@import "reveal-theme/white";

.slides {

  section.report {
    padding: 0;
    bottom: 0px;
    overflow-y: auto !important;
    height: 100%;
  }

  section.report::-webkit-scrollbar { width: 0 !important; }

  .left {
    float: left;
    width: 45%;
    text-align: left;

    img {
      margin-bottom: 0;
    }
  }

  .right {
    float: right;
    width: 53%;
    margin-left: 2%;
  }

  h2.title {
    text-align: left;
    margin-bottom: 0 !important;

    img.gravatar {
      height: 100% !important;
      margin: 0px !important;
      border: 1px solid black;
    }
  }

  .report-text {
    text-align: left;
    font-size: 0.5em;

    h2 {
      margin-top: 0.5em;
      margin-bottom: 0.2em;
    }

    p {
      margin-top: 0;
    }

    li {
      line-height: 1.2em;
      margin-left: 0.5em;
    }

    p, li {
      font-size: 1.2em;
    }
  }

}
