@import "reveal";
@import "reveal-theme/simple";

.slides {

  h2.title {
    text-align: left;

    img.gravatar {
      height: 100% !important;
      margin: 0px !important;
      border: 1px solid black;
    }
  }

  img.jelly {
    width: 40%;
    float: left;
  }

  .report-text {
    float: right;
    width: 55%;
    text-align: left;
    font-size: 0.5em;

    h2 {
      margin-top: 0.5em;
    }

    li {
      line-height: 1.2em;
    }
  }

}