/*
*= require_self
*= require bootstrap_and_overrides
*/

/* Let's make the base size a variable and base everything on that */
$s: 20px;

body {
  font-size: $s !important;
}
body.wide {
  font-size: $s * 2 !important;
}

.row-fluid {
  margin: {
    top: $s;
    bottom: $s;
  }
}

.span6 {
  border: 1px solid black;
}

#next {
  float: right;
}

