.reports {
    img.jelly {
	border: {
	    width: 1px !important;
	    style: solid;
	    color: #CCC;
	    radius: 3px;
        }
	max-width: 100%;
	max-height: 600px;
    }

    img.jelly-error { 
	border: {
	    color: #B94A48 !important;
        }
    }
}


