.reports {
    img.jelly {
	border: {
	    width: 1px !important;
	    style: solid;
	    color: #CCC;
	    radius: 3px;
        }
	max-width: 100%;
	max-height: 600px;
    }

    img.jelly-error { 
	border: {
	    color: #B94A48 !important;
        }
    }

    .row {
	margin-bottom: 1em;
    }

    .image-map {
	margin-left: 240px;
    }

    .inputs ol {
      list-style-type: none;
    }

    ol.enumerate {
      margin-left: 30px !important;
      list-style-type: decimal !important;
    }

    fieldset, .input-group {
      margin-top: 1em;
    }

    #previous-tasks {
      margin-top: 1em;
    }

  #calendar {
    header.calendar-header {
      text-align: center;
      font: {
        size: 1.5em;
        weight: bold;
      }
      margin-bottom: 1em;
    }
    th {
      background-color: $brand-primary;
      color: #fff;
    }
    td {
      width: calc(100%/7);
      height: 4em;
    }
    .link {
      margin-left: 1em;
      a {
        text-decoration: none;
      }
    }
  }
}


