= content_for :title do
  Reports - all

.row
  .col-md-12
    %h1 All reports

.row
  .col-md-12#calendar
    = month_calendar events: @reports, table: {class: 'table table-bordered'} do |date, reports|
      .inner
        %b= date.strftime("%d")
        - if reports.count > 0
          .link
            = link_to pluralize(reports.count, 'report'), reports_path(date: date)
