!!!
%html{:lang => "en"}
  %head
    = render partial: 'layouts/head', locals: {app: 'present'}
  %body
    .reveal
      .slides
        = yield
    :javascript
      Reveal.initialize({
        controls: false,
        progress: true,
        history: true,
        center: true,
        transition: 'slide',
        theme: 'white',
        zoomKey: 'ctrl',
        dependencies: [
          { src: '#{javascript_path('zoom')}', async: true }
        ]  
      });
